html
{
    scroll-behavior: smooth;
}

a, a:hover {
    color: inherit;
}
/* fonts */
.head_font {
    font-family: 'Spectral SC', serif;
}
.second_head_font {
    font-family: 'KoHo', sans-serif;
}

.abel_font {
    font-family: 'Abel', sans-serif;
}

.Italianno_font {
    font-family: 'Italianno', cursive;
}

.Tangerine_font {
    font-family: 'Tangerine', cursive;
}
 

/* colors */
:root {
    --color1: #05192D;
    --color2: #97b3f9;
    --text: #d7dcfd;
    --textbox:#dbdffd41;
}

body {
    background-color: var(--color1);
}

body::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

/* intro */
  
.main_head {
    height: 100vh;
    background-color: var(--color1);
    background-size: 1.5em 11em, 1.5em 11em, 2.3em 8em, 2.3em 8em, 3.5em 11em, 3.5em 11em, 100% 100%;
    background-repeat: repeat;
    background-attachment: fixed;
}

.head_container {    
    padding: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    background-color: var(--textbox);
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 12px;
    border-top-left-radius: 12px;
    color: var(--text);
    border-style: double;
    border-color: var(--color2);
    box-shadow: 2px 2px 10px 0 #97b3f9b5;
}

.name {
    font-size: 3rem;
}

.intro {
    font-size: 1.5rem;
}

.discription {
    padding-top: 1rem;
    text-align: justify;
    font-size: 1.1rem;
}

.timeline {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: var(--color1);
    padding: 40px;
    font-size: 25px;
}

.timeline_container {
    padding: 5px;
    position: absolute;
    width: 96%;
    height: 4rem;
    top: 50%;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    background-color: var(--textbox);
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    color: var(--text);
    border-style: double;
    border-color: var(--color2);
}

.body_container {
    background-color: white;
    margin-left: 2.1rem;
    width: 140vh;
    background-color: var(--color1);
    color: var(--text);
}

.side_container {
    width: 45vh;
    margin-right: 2.1rem;
    height: inherit;
}

.skills {
    position: -webkit-sticky;
    position: sticky;
    top: 5rem;
    background-color: var(--textbox);
    padding: 10px;
    font-size: 25px;
    height: 18rem;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    margin-bottom: 1rem;
    border-style: double;
    border-color: var(--color2);
}

.skill_title {
    text-align: center;
    color: var(--text);
}

.links {
    position: -webkit-sticky;
    position: sticky;
    top: 24rem;
    background-color: var(--textbox);
    padding: 10px;
    height: 3rem;
    width: 50%;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    align-items: center;
    border-style: double;
    border-color: var(--color2);
}
.fa-envelope {
    color: #BB001B;
    padding-left: 1rem;
    font-size: 1.8rem;
}

.fa-linkedin-in {
    color: #0077B5;
    padding-left: 1rem;
    font-size: 1.8rem;
}

.fa-github {
    padding-left: 1rem;
    font-size: 1.8rem;
}

.top_footer {
    width: 100%;
    height: 14rem;
    border-top-style: double;
    border-color: var(--color2);
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    background-color: var(--textbox);
}

.footer_data {
    height: 85.4%;
    padding: 5px;
    width: 96%;
    margin-left: 2rem;
}

.bottom_footer_left {
    background-color: var(--color1);
    color: var(--color2);
    width: 10%;
    height: 2rem;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    margin-left: 2rem;
    font-size: 1.5rem;
}

.bottom_footer_bottom {
    background-color: var(--color1);
    color: var(--color2);
    width: 25%;
    height: 2rem;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    font-size: 1.5rem;
}

.bottom_footer_right {
    background-color: var(--color2);
    padding-top: 1rem;
    width: 3%;
    height: 2rem;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    margin-right: 2rem;
    color: black;

}

.bottom_footer_right:hover {
    background-color: var(--color1);
    color: var(--color2);
}


.arrow{
    position: absolute;
    top: 94%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.arrow span{
    display: block;
    width: 20px;
    height: 20px;
    border-bottom: 5px solid #06A8FF;
    border-right: 5px solid #06A8FF;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate_down 2s infinite;
}
.arrow span:nth-child(2){
    animation-delay: -0.2s;
}
.arrow span:nth-child(3){
    animation-delay: -0.4s;
}
@keyframes animate_down {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);
    }
}