html
{
    scroll-behavior: smooth;
}

a, a:hover {
    color: inherit;
}
/* fonts */
.head_font {
    font-family: 'Spectral SC', serif;
}
.second_head_font {
    font-family: 'KoHo', sans-serif;
}

.abel_font {
    font-family: 'Abel', sans-serif;
}

.Italianno_font {
    font-family: 'Italianno', cursive;
}

.Tangerine_font {
    font-family: 'Tangerine', cursive;
}
 

/* colors */
:root {
    --color1: #05192D;
    --color2: #97b3f9;
    --text: #d7dcfd;
    --textbox:#dbdffd41;
}

body {
    background-color: var(--color1);
}

body::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

/* intro */
  
.main_head {
    height: 100vh;
    width: 100vw;
    background-color: var(--color1);
    background-size: 1.5em 11em, 1.5em 11em, 2.3em 8em, 2.3em 8em, 3.5em 11em, 3.5em 11em, 100% 100%;
    background-repeat: repeat;
    background-attachment: fixed;
}

.head_container {    
    padding: 15px;
    position: absolute;
    height: 75vh;
    width: 60vw;
    top: 50%;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    background-color: var(--textbox);
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 12px;
    border-top-left-radius: 12px;
    color: var(--text);
    border-style: double;
    border-color: var(--color2);
    box-shadow: 2px 2px 10px 0 #97b3f9b5;
}

.name {
    font-size: 5vh;
}

.intro {
    font-size: 3vh;
}

.discription {
    padding-top: 1rem;
    text-align: justify;
    font-size: 2.5vh;
}

.timeline {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: var(--color1);
    padding: 40px;
}

.timeline_container {
    padding: 5px;
    position: absolute;
    width: 96vw;
    height: 4rem;
    top: 50%;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    background-color: var(--textbox);
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    color: var(--text);
    border-style: double;
    border-color: var(--color2);
}

.body_container {
    background-color: white;
    margin-left: 2.1rem;
    width: 70vw;
    background-color: var(--color1);
    color: var(--text);
}

.side_container {
    width: 23vw;
    margin-right: 2.1rem;
    height: inherit;
}

.row_container {
    width: 100vw;
}

.skills {
    position: -webkit-sticky;
    position: sticky;
    top: 5rem;
    background-color: var(--textbox);
    padding: 10px;
    font-size: 2.5vw;
    height: 18rem;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    margin-bottom: 1rem;
    border-style: double;
    border-color: var(--color2);
}

.skill_title {
    text-align: center;
    color: var(--text);
}

.links {
    position: -webkit-sticky;
    position: sticky;
    top: 24rem;
    background-color: var(--textbox);
    padding: 10px;
    height: 3rem;
    width: 24vh;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    align-items: center;
    border-style: double;
    border-color: var(--color2);
}
.fa-envelope {
    color: #BB001B;
    padding-left: 1rem;
    font-size: 1.8rem;
}

.fa-linkedin-in {
    color: #0077B5;
    padding-left: 1rem;
    font-size: 1.8rem;
}

.fa-github {
    padding-left: 1rem;
    font-size: 1.8rem;
}
.postgresql {
    height: 100%;
    width: 100%;
}

.top_footer {
    width: 100vw;
    height: 30vh;
    border-top-style: double;
    border-color: var(--color2);
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    background-color: var(--textbox);
}

.footer_data {
    height: 85.4%;
    padding: 5px;
    width: 96vw;
    margin-left: 2vw;
}

.bottom_footer_left {
    background-color: var(--color1);
    color: var(--color2);
    width: 10%;
    height: 2rem;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    margin-left: 2rem;
    font-size: 1.5rem;
}

.bottom_footer_bottom {
    background-color: var(--color1);
    color: var(--color2);
    width: 25%;
    height: 2rem;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    font-size: 1.5rem;
}

.bottom_footer_right {
    background-color: var(--color2);
    padding-top: 1rem;
    width: 3%;
    height: 2rem;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    margin-right: 2rem;
    color: black;

}

.bottom_footer_right:hover {
    background-color: var(--color1);
    color: var(--color2);
}

@media screen and (max-width: 999px) {
    .main_image {
      display: none;
    }
    .address {
        display: none;
      }
    .head_container {
        width: 70vw;
    }
    .bottom_footer_left {
        width: 28vw;
    }
    .bottom_footer_bottom{
        display: none!important;
        width: vh;
    }
    .bottom_footer_right {
        width: 10vw;
    }
  }

@media screen and (max-width: 675px) {
    .links {
        margin: auto;
        width: 25vw;
        height: 16vh;
    }
    .side_container {
        width: 25vw;
    }
    
    .skills {
        width: 25vw;
        height: 35vh;
        margin-bottom: 2px;
    }
}